# Getting started

Python can be used like a calculator. Simply type in expressions to get them evaluated.

## Basic syntax for statements 
The basic rules for writing simple statments and expressions in Python are:
* No spaces or tab characters allowed at the start of a statement: Indentation plays a special role in Python (see the section on control statements). For now simply ensure that all statements start at the beginning of the line.
* The '#' character indicates that the rest of the line is a comment
* Statements finish at the end of the line:
  * Except when there is an open bracket or paranthesis:
```python
1+2
+3  #illegal continuation of the sum
(1+2
             + 3) # perfectly OK even with spaces
```
  * A single backslash at the end of the line can also be used to indicate that a statement is still incomplete  
```python
1 + \
   2 + 3 # this is also OK
```
The jupyter notebook system for writting Python intersperses text (like this) with Python statements. Try typing something into the cell (box) below and press the 'Run' button above to execute it. We will discuss operators that can be used in such operations further below, but for numbers these are mostly fairly obvious.

In [1]:
10%3

1

In [2]:
9-3*2+5

8

Python has extensive help built in. You can execute `help()` for an overview or `help(x)` for any library, object or type `x`. Try using `help("topics")` to get a list of help pages built into the help system.

In [3]:
import math

In [6]:
dir (math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [7]:
help("topics")

Here is a list of available topics.  Enter any topic name to get more help.

ASSERTION           DELETION            LOOPING             SHIFTING
ASSIGNMENT          DICTIONARIES        MAPPINGMETHODS      SLICINGS
ATTRIBUTEMETHODS    DICTIONARYLITERALS  MAPPINGS            SPECIALATTRIBUTES
ATTRIBUTES          DYNAMICFEATURES     METHODS             SPECIALIDENTIFIERS
AUGMENTEDASSIGNMENT ELLIPSIS            MODULES             SPECIALMETHODS
BASICMETHODS        EXCEPTIONS          NAMESPACES          STRINGMETHODS
BINARY              EXECUTION           NONE                STRINGS
BITWISE             EXPRESSIONS         NUMBERMETHODS       SUBSCRIPTS
BOOLEAN             FLOAT               NUMBERS             TRACEBACKS
CALLABLEMETHODS     FORMATTING          OBJECTS             TRUTHVALUE
CALLS               FRAMEOBJECTS        OPERATORS           TUPLELITERALS
CLASSES             FRAMES              PACKAGES            TUPLES
CODEOBJECTS         FUNCTIONS           POWER               TYPEOBJECTS
COMPARISON          IDENTIFIERS         PRECEDENCE          TYPES
COMPLEX             IMPORTING           PRIVATENAMES        UNARY
CONDITIONAL         INTEGER             RETURNING           UNICODE
CONTEXTMANAGERS     LISTLITERALS        SCOPING
CONVERSIONS         LISTS               SEQUENCEMETHODS
DEBUGGING           LITERALS            SEQUENCES

## Variables & Values

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [8]:
x = 2.7          # anything after a '#' is a comment
y = 5
xy = 'Hey'
# print(x+y, xy) # not really necessary as the last value in a bit of code is displayed by default

In [9]:
type (xy)

str

In [10]:
type (x)

float

Multiple variables can be assigned with the same value.

In [11]:
name1 = "Ibrahim"
name2 = 'Yusuf'

In [12]:
print (name1 + name2)

IbrahimYusuf

In [13]:
2                              +                   7    *6

44

In [14]:
x = 'YUSUF'

In [15]:
type (x)

str

In [16]:
x.startswith('Y')

True

In [17]:
dir (x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [18]:
x = 'Yusuf is a good person'

In [19]:
y = x.split ()

In [20]:
type (y)

list

In [21]:
y

['Yusuf', 'is', 'a', 'good', 'person']

In [22]:
y.reverse()

In [23]:
y

['person', 'good', 'a', 'is', 'Yusuf']

In [24]:
x = 5
print ("Shehu is a{} good man {} he gave me {} eggs".format (x, 6,x))

Shehu is a5 good man 6 he gave me 5 eggs

In [25]:
x =  "Department of Computer Engineering"

In [26]:
len (x)

34

In [27]:
y = x.split()

In [28]:
len(y)

4

In [29]:
print (y[3].upper())

ENGINEERING

In [30]:
x.split ()

['Department', 'of', 'Computer', 'Engineering']

In [31]:
print (x.replace ('f', 'p'))

Department op Computer Engineering

In [32]:
help (x.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [37]:
name="Shallom"
age=23

In [36]:
print ("His name is {} and is {} years old".format (name,age))

His name is Shallom and is 20 years old

In [38]:
print (2+2,3-4,7*5)

4 -1 35

In [39]:
x = y = 1
print(x,y)

1 1

The basic types build into Python include `float` (floating point numbers), `int` (integers), `str` (unicode character strings) and `bool` (boolean). Some examples of each:

In [41]:
not 4==4 or not False

True

In [42]:
2.0           # a simple floating point number
1e100         # a googol as floating point number
-1234567890   # an integer
True or False # the two possible boolean values
'This is a string'
"It's another string"
print("""Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively \n is a newline character (\t for tab, \\ is a single backslash)""")

Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively
 is a newline character (	 for tab, \ is a single backslash)

Python also has complex numbers that can be written as follows. Note that the brackets are required.

In [43]:
x = complex(1,2)
(1.0+2j) # the same number as above

(1+2j)

In [ ]:
type (x)

## Operators

### Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | Division |
| //  | Integer division |
| %  | Modulus (remainder) |
| *  | Multiplication |
| **  | Exponentiation (power) |

As expected these operations generally promote to the most general type of any of the numbers involved i.e. int -> float -> complex.

In [44]:
5%2

1

In [45]:
print                     ("Hello"                             )

Hello

In [46]:
3-1

2

In [47]:
2 * (3+0j) * 1.0

(6+0j)

In [48]:
3/4

0.75

In many languages (and older versions of python) 1/2 = 0 (truncated division). In Python 3 this behaviour is captured by a separate operator that rounds down: (ie a // b$=\lfloor \frac{a}{b}\rfloor$)

In [49]:
15%4

3

In [50]:
15%10

5

Python natively allows (nearly) infinite length integers while floating point numbers are double precision numbers:

In [58]:
11**30

17449402268886407318558803753801

In [57]:
11.0**30

1.7449402268886406e+31

### Relational Operators

| Symbol | Task Performed |
|----| :--- |
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

Note the difference between `==` (equality test) and `=` (assignment)

In [51]:
z = 0.8
x = 7

In [52]:
z >7 and z==4 or x == -1 and x*z ==17

False

True

Comparisons can also be chained in the mathematically obvious way. The following will work as expected in Python (but not in other languages like C/C++):

In [ ]:
0.5 < z <= 1

### Boolean and Bitwise Operators

|Operator|Meaning | \| | Symbol | Task Performed |
|----|--- | - |----|---|
|`and`| Logical and | \| | &  | Bitwise And |
|`or` | Logical or | \| | $\mid$  | Bitwise OR |
|`not` | Not | \| | ~  | Negate |
| &nbsp;  |&nbsp;  |  \| |  ^  | Exclusive or |
| &nbsp;|&nbsp; | \| |  >>  | Right shift |
| &nbsp;| &nbsp;| \| |  <<  | Left shift |

In [59]:
5 | 4

5

In [60]:
(50>20) or (24==56)

True

In [61]:
a = 2 #binary: 10
b = 3 #binary: 11
print('a & b =',a & b,"=",bin(a&b))
print('a | b =',a | b,"=",bin(a|b))
print('a ^ b =',a ^ b,"=",bin(a^b))
print('b << a =',b<<a,"=",bin(b<<a))

a & b = 2 = 0b10
a | b = 3 = 0b11
a ^ b = 1 = 0b1
b << a = 12 = 0b1100

In [ ]:
print( not (True and False), "==", not True or not False)

### Assignment operators

The binary operators can be combined with assignment to modify a variable value.
For example:

In [62]:
x = 1
x += 2 # add 2 to x
print("x is",x)
x <<= 2 # left shift by 2 (equivalent to x *= 4)
print('x is',x)
x **= 2 # x := x^2
print('x is',x)

x is 3
x is 12
x is 144

# Built-in Functions

Python comes with a wide range of functions. However many of these are part of stanard libraries like the `math` library rather than built-in.

## Converting values

Conversion from hexadecimal to decimal is done by adding prefix **0x** to the hexadecimal value or vice versa by using built in `hex( )`, Octal to decimal by adding prefix **0** to the octal value or vice versa by using built in function `oct( )`.

In [63]:
hex(171) # hexadecmial value as string

'0xab'

In [64]:
0xAB

171

`int( )` converts a number to an integer. This can be a single floating point number, integer or a string. For strings the base can optionally be specified:

In [65]:
print(int(7.7), int('111',2),int('7'))

7 7 7

In [66]:
x = 8.7

In [67]:
type (x)

float

In [68]:
x = int (x)

In [69]:
print (x)

8

 Similarly, the function `str( )` can be used to convert almost anything to a string

In [70]:
print(str(True),str(1.2345678),str(-2))

True 1.2345678 -2

## Mathematical functions
Mathematical functions include the usual suspects like logarithms, trigonometric fuctions, the constant $\pi$ and so on.

In [72]:
import math
math.sin(math.pi/2)
from math import * # avoid having to put a math. in front of every mathematical function
sin(pi/2) # equivalent to the statement above

1.0

## Simplifying Arithmetic Operations

`round( )` function rounds the input value to a specified number of places or to the nearest integer.

In [73]:
print( round(5.6231) )
print( round(4.55892, 2) )

6
4.56

`abs( )` provides the absolute value of any number (including the magnitude of a complex number).

In [74]:
c =complex('5+2j')
print("|5+2i| =", abs(c) , "\t |-5| =", abs(-5) )

|5+2i| = 5.385164807134504 	 |-5| = 5

`divmod(x,y)` outputs the quotient and the remainder in a tuple (you will be learning about tuples in the further chapters) in the format (quotient, remainder).

In [75]:
divmod(9,2)

(4, 1)

In [76]:
22/7

3.142857142857143

In [77]:
import math

In [78]:
math.sin(30*math.pi/180)

0.49999999999999994

In [79]:
import math
x = 2.1
print (math.ceil (x))

3

## Accepting User Inputs

`input(prompt)`,  prompts for and returns input as a string. A useful function to use in conjunction with this is `eval()` which takes a string and evaluates it as a python expression.

*Note:* In notebooks it is often easier just to modify the code than to prompt for input.

In [ ]:
while True:
    name = input ("What is your name")
    year =  input("what year were you born = ")
    print ("Hi.. Mr  {}, You are now {} years old".format(name, 2021-int (year)))

In [ ]:
type (year)

In [ ]:
dir ("builtins")